@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Shadows+Into+Light&display=swap');

*{
    margin: 0px;
    padding: 0px;
    /* background-color: bisque; */
    box-sizing: border-box;
}
.box1 {
    border: 10px solid black;
    padding: 10px ;
    /* margin: 10px; */
    /* border-radius: 50%; */
    height: 150px;
    width: 150px ;
    background-color: red;

}

.box2 {
    border: 2px solid red;
}

.heading{
   
    text-align:center ;
    border: 2px solid ;
   
    text-shadow: 4px 6px red;
    color: transparent;
    font-family: 'Shadows Into Light', cursive;


}
p{
    text-align: justify;
    margin-bottom: 40px ;
    font-family: 'Orbitron', sans-serif;
}

.link{
    text-decoration: overline;
    text-decoration-style:wavy;
    text-decoration-color: chartreuse; 
}